.AfterEnterBlock {
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding-top: 89px;
}

.AfterEnterBlock__sideNav {
  width: 20%;
  max-width: 300px;
  min-width: 300px;
}

.AfterEnterBlock__content {
  display: flex;
  align-items: flex-start;
  width: 60%;
  min-width: 1000px;
  margin: 40px;
}

.Content__form, .ContentMessages, .ContentUserInfo {
  width: 100%;
}

.Content__form {
  padding: 25px 30px;
  border-radius: 4px;
  background: rgba(#fff, 0.6);
}

.Content__h1, .ContentMessages__item {
  padding: 25px 30px;
  background: rgba(#fff, 0.85);
  border-radius: 4px;
}

.ContentMessages__item {
  position: relative;
}

.Content__field {
  &:not(:first-of-type) {
    margin-top: 15px;
  }
}

.Content__btn {
  width: 100%;
}

.Content__h1 {
  font-size: 24px;
  font-weight: bolder;
}

.Content__h3 {
  font-size: 18px;
  font-weight: bolder;
}

.Content__label {
  display: inline-block;
  font-weight: bolder;
}

.ContentMessages__time {
  position: absolute;
  top: 25px;
  right: 30px;
  font-size: 16px;
  line-height: 24px;
}