.EnterBlock {
  width: 40%;
  border-radius: 4px;
  overflow: hidden;
}

.EnterBlock__nav {
  display: flex;
  justify-content: center;
  border-bottom-color: rgba(#fff, 0.8);
  background: rgba(#fff, 0.6);
}

.EnterBlock__li {
  width: 50%;
  text-align: center;
  &:not(.active) {
    a {
      color: #fff;
    }
  }
}

.nav-tabs>li>a {
  transition: .3s;
  margin-right: 0;
  border: none;
}

.nav-tabs>li:first-of-type a {
  border-top-right-radius: 0;
}

.nav-tabs>li:last-of-type a {
  border-top-left-radius: 0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  border: none;
}

.nav-tabs>li>a:hover {
  color: #000;
}

.EnterBlock__field {
  width: 45%;
}

.fieldsRow {
  display: flex;
  justify-content: space-between;

  &:not(:first-of-type) {
    margin-top: 15px;
  }
}

.EnterBlock__tab-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 260px;
  padding: 15px;
  background: rgba(#fff, 0.8);
  .tab-pane {
    width: 100%;
  }
}

.EnterBlock__button {
  position: absolute;
  right: 0;
  bottom: 15px;
  left: 0;
  width: 96%;
  margin: auto;
  text-transform: uppercase;
}

.EnterBlock__field_row {
  flex-direction: row;
  align-items: center;
  width: 100%;
  .Field__input {
    width: 100%;
  }
  .Field__label {
    margin-right: 10px;
    margin-bottom: 0;
    white-space: nowrap;
  }
}

.form_register {
  padding-bottom: 50px;
}

.form_enter {
  .Field__label {
    width: 45%;
  }
}