.Exit {
  display: flex;
  align-items: center;
  position: absolute;
  top: 37px;
  right: 30px;

  path {
    transition: .3s;
  }

  .svg-inline--fa.fa-w-16 {
    width: 1.5em;
  }

  .svg-inline--fa {
    height: 1.5em;
  }
}

.Exit__login {
  margin-right: 15px;
}

.Exit__icon:hover {
  cursor: pointer;
  &:hover {
    path {
      fill: #537a00
    }
  }
}