.Field {
  display: flex;
  flex-direction: column;
}

.Field__label {
  margin-bottom: 10px;
  font-weight: bold;
}

.Field__input, .Field__textarea {
  padding: 5px 10px;
  border-radius: 4px;
  border-color: transparent;
}

.Field__textarea  {
  min-height: 250px;
  resize: none;
}