@import "reset";


//components
@import "Field";
@import "EnterBlock";
@import "SideNav";
@import "AfterEnterBlock";
@import "Exit";

//main
.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url("/assets/media/background.jpg") no-repeat;
  background-size: cover;
}

.wrapper, .main__Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 0;
  background: rgba(#fff, 0.8);
  text-align: center;
}

.h1 {
  margin: 0;
  font-size: 36px;
}

.main, .main__Wrapper {
  width: 100%;
}

//modificators
._margin-top-10 {
  margin-top: 10px;
}

._margin-top-20 {
  margin-top: 20px;
}


