.SideNav {
  padding: 59px 30px 25px;
  background: rgba(#fff, 0.8);
  border-top: 1px solid rgba(#fff, 0.95);
  color: #000;
}

.SideNav__li {
  font-size: 18px;
  line-height: 24px;

  a {
    display: inline-block;
    color: #000;
    &:after {
      display: block;
      content: "";
      height: 2px;
      width: 0;
      margin-top: 3px;
      background-color: #537a00;
      transition: width .3s ease-in-out;
    }
    &:focus, &:hover {
      outline-style: none;
      text-decoration: none;
    }
  }

  &:not(:first-of-type) {
    margin-top: 15px;
  }
  &:hover {
    a {
      text-decoration: none;
      &:after {
        width: 100%;
      }
    }
  }
}

.SideNav__li_active {
  a:after {
    width: 100%;
  }
}